@font-face {
    font-family: Poppins;
    src: url('assets/Poppins-Medium.ttf');
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html {
    font-family: Poppins;
    color: #ffffdf;

    background-color: #3e6288;
    background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);
    background-attachment: fixed;
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.side-panel {
    width: 8%;
    padding: 1vw;
    background-color: #547792;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    border-right: solid #222222 4px;
    border-radius: 5px;
}

.main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: calc(10vw * 1.1);
}

.panel {
    margin: 2vw;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 20px;
    text-align: center;

    border: solid 3px;
    border-color: #94B4C1;
    border-radius: 50px;

    background-color: #547792;
    background-size: 250px;
}

button {
    margin-bottom: 20px;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: #ffffdf;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5vw;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

button:hover {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.introduction {
    display: flex;
    justify-content: center;
}

.introduction-text {
    font-size: 3vw;
    text-shadow: 2px 2px 1px #27374D;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    ;
    gap: 10px;
}

.pp {
    width: 10vw;
    height: 10vw;
    margin: 2vw;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    /* Create a circular shape */
    overflow: hidden;
}

.projet-img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.project {
    z-index: 0;
    position: relative;
    padding: 30px;
    text-align: center;
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.slideIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.slideIn.show {
    opacity: 1;
    transform: translateY(0);
}

.project:hover {
    transform: scale(1.05);
}

.project:hover .projet-img {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.side-logo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5vh;
}

.side-logo-img {
    width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 40%;

    display: block;
    /*margin: auto; !* Center the images horizontally inside the container *!*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: start;
}

.skills>* {
    align-self: stretch;
    justify-self: stretch;
}

.skill {
    position: relative;
    top: 0;
}

.skill-logo {
    width: 7.5vw;
    height: auto;
    padding: 1vw;

    /* -webkit-filter: drop-shadow(0px 0px 5px #000000); */
    filter: drop-shadow(0px 0px 5px #000000);
}

.skill-text {
    font-size: 1.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 0%;
    text-align: justify;
}

.sub-title {
    font-size: 4vw;
    /*text-decoration: underline;*/
    text-shadow: 2px 2px 1px #27374D;
}

.skill-title {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: 0%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup h2 {
    text-decoration: underline;
    font-size: 2vw;
}

.popup p {
    font-size: 1vw;
}

.popup.show {
    opacity: 1;
}

.popup.hide {
    opacity: 0;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2F3C4A;
    padding: 20px;
    border: 1px solid #ffffdf;
    border-radius: 20px;
    text-align: left;

    overflow: hidden;
}

#popup-img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#popup-url {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
}

#popup-title {
    margin-top: 0%;
}

#popup-description {
    margin-bottom: 0%;
    margin-top: 0%;
}